#mainWindowK {
    -fx-background-color: green;
    -fx-spacing: -100;
}

#box-pilajuegos {
    -fx-spacing: 30;
    -fx-translate-y: 10;
    -fx-alignment: center;
}

.pila-juego-vacia {
    -fx-min-width: 96px;
    -fx-max-height: 144px;
    -fx-padding: 3px;
    -fx-background-color: #36622d;
    -fx-border-radius: 3;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-translate-y: -155;
}

.pila-juego {
    -fx-spacing: -100;
}

.cardstack {
    -fx-padding: 3px;
    -fx-background-color: #36622d;
    -fx-border-radius: 3;
    -fx-border-color: white;
    -fx-border-width: 5;
    -fx-min-width: 96px;
}

#bottom-bar-full {
    -fx-min-width: 100%;
    -fx-alignment: center;
    -fx-spacing: 200;
}

#box-resultados {
    -fx-spacing: 20;
}

#box-pozos {
    -fx-spacing: 30;
}

#refreshing {
    -fx-scale-x: 25%;
    -fx-scale-y: 25%;
    -fx-translate-y: -150;
    -fx-translate-x: -100;
    -fx-max-height: 20px;
}

#refreshing:hover {
    -fx-scale-y: 27%;
    -fx-scale-x: 27%;
}



